<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated softwarebundles -->
      <package
            uri="https://org/eclipse/example/softwarebundles"
            class="softwarebundles.SoftwarebundlesPackage"
            genModel="model/softwarebundles.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jar -->
      <package
            uri="https://org/eclipse/example/jar"
            class="jar.JarPackage"
            genModel="model/jar.genmodel"/>
   </extension>

</plugin>
